@model IEnumerable<JalopyJournal.ViewModels.CarIndex>
@{
    ViewBag.Title = "Select a Car";
}
<div class="row">
    <div class="col-md-4">
        <h2 class="title">Select a Car</h2>
        <div>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                @Html.ActionLink(item.Description, "CarHome", "Car", new { carID = item.ID }, new { @class = "btn btn-default carbtn" })
            }
        }
        </div>
        <div style="padding-top: 1em">
            @Html.ActionLink("Enter New Car", "Create", "Car")
        </div>
        <div style="padding-top: 1em">
            @Html.ActionLink("Manage Cars", "Index")
        </div>
    </div>
</div>
<style>
    a.carbtn {
        padding: 30px;
        width: 150px;
        height: 80px;
        margin: 5px;
        text-align: center;
        vertical-align: middle;
    }
</style>